# project files
.Renviron
.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*.Rproj
config.sh
token.R
#directories
cache/
data/
report/
results/
tmp/
tests/data/
user-data/
code/eda/
validation/
singularity/
doc/
logs
venv
tempNetwork_files/
#quarto
*.zip
code/www/methods/
*.html
