.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*.Rproj
results/
tmp/
/data/
doc/
depmap.pdf
misc/
results/
user-data/
validation/
singularity/
config.sh
logs
venv
ddh-data
token.R
report
tempNetwork_files/
